pyrofork==2.3.45
tgcrypto
requests
bs4
shortzy
datetime
pytz
aiohttp
jinja2
apscheduler
pyshorteners
colorama
NumPy
wheel
ujson
wget
aiofiles
hachoir
python-decouple
pymongo[srv]==4.11.1
motor==3.7.0
marshmallow==3.26.1
umongo
PyLeaves==1.0.2
opencv-python-headless==4.8.1.78
python-dotenv==0.21.1
speedtest-cli
humanize
Pillow
psutil
dnspython==2.6.1
ffmpeg-python>=0.2.0
fuzzywuzzy
python-Levenshtein==0.21.0
git+https://github.com/Joelkb/cinemagoer
